body {
  background-image: url(../images/images.jfif)
}

.book-container {
  position: relative;
}

.book {
  max-width: 100%;
  width: 85%;
  margin: 0 auto;
  z-index: -99;
}

.book-image {
  position: absolute;
  top: 6vw;
  left: 15vw;
  width: 30vw;
}

.book-image img {
  width: 100%;
}

.book-text {
  position: absolute;
  right: 15vw;
  top: 3vw;
  width: 30%;
  color: #070010;
}

.book-text p {
  font-family: 'Arial';
  font-size: 2.3vw;
}

.buttons {
  display: block;
  width: 80%;
  background-color: #4B2D73;
  border-radius: 7px;
  margin: 1% auto;
  text-align: center;
  padding: 1em;
}

.buttons p {
  text-decoration: none;
  color: #E7E7E8;
  font-size: 2vw;
  overflow-wrap: break-word;
}